In [132]:
import pandas as pd
import json

In [3]:
df=pd.read_csv('Business-employment-data-september-2022-quarter-csv.csv')

In [4]:
df

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SEA1AA,2011.06,80078.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
1,BDCQ.SEA1AA,2011.09,78324.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
2,BDCQ.SEA1AA,2011.12,85850.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
3,BDCQ.SEA1AA,2012.03,90743.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
4,BDCQ.SEA1AA,2012.06,81780.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20636,BDCQ.SEE3999A,2017.06,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
20637,BDCQ.SEE3999A,2017.09,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
20638,BDCQ.SEE3999A,2017.12,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
20639,BDCQ.SEE3999A,2018.03,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
20640,BDCQ.SEE3999A,2018.06,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SEA1AA,2011.06,80078.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
1,BDCQ.SEA1AA,2011.09,78324.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
2,BDCQ.SEA1AA,2011.12,85850.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
3,BDCQ.SEA1AA,2012.03,90743.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
4,BDCQ.SEA1AA,2012.06,81780.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN

In [8]:
df.tail()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
20636,BDCQ.SEE3999A,2017.06,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
20637,BDCQ.SEE3999A,2017.09,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
20638,BDCQ.SEE3999A,2017.12,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
20639,BDCQ.SEE3999A,2018.03,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
20640,BDCQ.SEE3999A,2018.06,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN

In [12]:
df1=df.head(2)

In [10]:
df.tail(2)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
20639,BDCQ.SEE3999A,2018.03,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN
20640,BDCQ.SEE3999A,2018.06,NaN,Y,C,Number,0,Business Data Collection - BDC,Territorial authority by employment variable,Filled jobs (workplace location based),Area Outside Territorial Authority,Actual,NaN,NaN

In [13]:
df1.to_csv("test.csv")

In [47]:
df2= pd.read_csv("test.csv",sep='@',header=None,skiprows=[0,1])

In [48]:
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,1,BDCQ.SEA1AA,2011.09,78324.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,Agriculture@ Forestry and Fishing,Actual,NaN,NaN

In [16]:
type(df2)

pandas.core.frame.DataFrame

In [40]:
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SEA1AA,2011.06,80078.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
1,BDCQ.SEA1AA,2011.09,78324.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
2,BDCQ.SEA1AA,2011.12,85850.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
3,BDCQ.SEA1AA,2012.03,90743.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
4,BDCQ.SEA1AA,2012.06,81780.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN

In [56]:
df=pd.read_csv("Business-employment-data-september-2022-quarter-csv.csv",skiprows=[0,2,4,5])

In [57]:
df.head(10)

,BDCQ.SEA1AA,2011.06,80078,Unnamed: 3,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,Unnamed: 12,Unnamed: 13
0,BDCQ.SEA1AA,2011.12,85850.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
1,BDCQ.SEA1AA,2012.09,79261.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
2,BDCQ.SEA1AA,2012.12,87793.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
3,BDCQ.SEA1AA,2013.03,91571.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
4,BDCQ.SEA1AA,2013.06,81687.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
5,BDCQ.SEA1AA,2013.09,81471.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
6,BDCQ.SEA1AA,2013.12,93950.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
7,BDCQ.SEA1AA,2014.03,97208.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
8,BDCQ.SEA1AA,2014.06,85879.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
9,BDCQ.SEA1AA,2014.09,84447.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN

In [54]:
df=pd.read_csv("Business-employment-data-september-2022-quarter-csv.csv",skiprows=[0,2,4,5],na_values=['Number'])

In [58]:
df.head()

,BDCQ.SEA1AA,2011.06,80078,Unnamed: 3,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,Unnamed: 12,Unnamed: 13
0,BDCQ.SEA1AA,2011.12,85850.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
1,BDCQ.SEA1AA,2012.09,79261.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
2,BDCQ.SEA1AA,2012.12,87793.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
3,BDCQ.SEA1AA,2013.03,91571.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
4,BDCQ.SEA1AA,2013.06,81687.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN

In [65]:
df=pd.read_csv("Business-employment-data-september-2022-quarter-csv.csv")

In [67]:
df.head()

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SEA1AA,2011.06,80078.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
1,BDCQ.SEA1AA,2011.09,78324.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
2,BDCQ.SEA1AA,2011.12,85850.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
3,BDCQ.SEA1AA,2012.03,90743.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
4,BDCQ.SEA1AA,2012.06,81780.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN

In [99]:
df1=pd.read_csv("Business-employment-data-september-2022-quarter-csv.csv",)

In [70]:
df.describe()

,Period,Data_value,Magnitude,Series_title_4,Series_title_5
count,20641.000000,1.614600e+04,20641.000000,0.0,0.0
mean,2016.451399,6.174902e+04,2.367618,NaN,NaN
std,3.279618,1.865759e+05,2.932663,NaN,NaN
min,2011.060000,1.225683e+00,0.000000,NaN,NaN
25%,2014.030000,1.237843e+03,0.000000,NaN,NaN
50%,2016.120000,1.064250e+04,0.000000,NaN,NaN
75%,2019.090000,4.353525e+04,6.000000,NaN,NaN
max,2022.090000,2.207151e+06,6.000000,NaN,NaN

In [71]:
df.dtypes

Series_reference     object
Period              float64
Data_value          float64
Suppressed           object
STATUS               object
UNITS                object
Magnitude             int64
Subject              object
Group                object
Series_title_1       object
Series_title_2       object
Series_title_3       object
Series_title_4      float64
Series_title_5      float64
dtype: object

In [77]:
df.head(2)

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SEA1AA,2011.06,80078.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN
1,BDCQ.SEA1AA,2011.09,78324.0,NaN,F,Number,0,Business Data Collection - BDC,Industry by employment variable,Filled jobs,"Agriculture, Forestry and Fishing",Actual,NaN,NaN

In [88]:
df.to_csv('result.csv',index=False,columns=['Magnitude','Subject'])

In [89]:
df1=pd.read_csv('result.csv')

#

In [90]:
df1.head()

   Magnitude                         Subject
0          0  Business Data Collection - BDC
1          0  Business Data Collection - BDC
2          0  Business Data Collection - BDC
3          0  Business Data Collection - BDC
4          0  Business Data Collection - BDC

In [91]:
df=pd.read_csv("result.csv")

In [93]:
df.head()

   Magnitude                         Subject
0          0  Business Data Collection - BDC
1          0  Business Data Collection - BDC
2          0  Business Data Collection - BDC
3          0  Business Data Collection - BDC
4          0  Business Data Collection - BDC

In [94]:
df.columns

Index(['Magnitude', 'Subject'], dtype='object')

In [96]:
type(df['Magnitude'])

pandas.core.series.Series

In [97]:
df['Subject']

0        Business Data Collection - BDC
1        Business Data Collection - BDC
2        Business Data Collection - BDC
3        Business Data Collection - BDC
4        Business Data Collection - BDC
                      ...
20636    Business Data Collection - BDC
20637    Business Data Collection - BDC
20638    Business Data Collection - BDC
20639    Business Data Collection - BDC
20640    Business Data Collection - BDC
Name: Subject, Length: 20641, dtype: object

In [98]:
df[['Magnitude','Subject']]

       Magnitude                         Subject
0              0  Business Data Collection - BDC
1              0  Business Data Collection - BDC
2              0  Business Data Collection - BDC
3              0  Business Data Collection - BDC
4              0  Business Data Collection - BDC
...          ...                             ...
20636          0  Business Data Collection - BDC
20637          0  Business Data Collection - BDC
20638          0  Business Data Collection - BDC
20639          0  Business Data Collection - BDC
20640          0  Business Data Collection - BDC

[20641 rows x 2 columns]

In [100]:
df1[['STATUS','UNITS','Magnitude','Subject']]

      STATUS   UNITS  Magnitude                         Subject
0          F  Number          0  Business Data Collection - BDC
1          F  Number          0  Business Data Collection - BDC
2          F  Number          0  Business Data Collection - BDC
3          F  Number          0  Business Data Collection - BDC
4          F  Number          0  Business Data Collection - BDC
...      ...     ...        ...                             ...
20636      C  Number          0  Business Data Collection - BDC
20637      C  Number          0  Business Data Collection - BDC
20638      C  Number          0  Business Data Collection - BDC
20639      C  Number          0  Business Data Collection - BDC
20640      C  Number          0  Business Data Collection - BDC

[20641 rows x 4 columns]

In [101]:
data =pd.read_excel('Book1.xlsx')

In [103]:
data.head()

,House Age (years),Distance to Station (meters),Price per Square Foot,Unnamed: 3,Sum,Unnamed: 5
0,32.0,84.87882,75.8,NaN,Mean,NaN
1,19.5,306.59470,84.4,NaN,Median,NaN
2,13.3,561.98450,94.6,NaN,Mode,NaN
3,13.3,561.98450,109.6,NaN,St. Deviation,NaN
4,5.0,390.56840,86.2,NaN,Variance,NaN

In [104]:
data1=pd.read_excel('sampledatafoodsales.xlsx', sheet_name='FoodSales')

In [105]:
data1.head()

,OrderDate,Region,City,Category,Product,Quantity,UnitPrice,TotalPrice
0,2020-01-01,East,Boston,Bars,Carrot,33,1.77,58.41
1,2020-01-04,East,Boston,Crackers,Whole Wheat,87,3.49,303.63
2,2020-01-07,West,Los Angeles,Cookies,Chocolate Chip,58,1.87,108.46
3,2020-01-10,East,New York,Cookies,Chocolate Chip,82,1.87,153.34
4,2020-01-13,East,Boston,Cookies,Arrowroot,38,2.18,82.84

In [113]:
data1['Product'].mode()

0    Carrot
dtype: object

In [114]:
df4=pd.read_html("https://www.bbc.com/sport/basketball/nba/table")

In [116]:
type(df4)

list

In [117]:
len(df4)

6

In [120]:
df4[0].head(2)

,Rank,Team,PlayedP,WonW,LostL,Home,Away,Win PercentagePct,ForPF,AgainstPA,Unnamed: 10,Unnamed: 11
0,11,Boston CelticsBoston Celtics,6868,4747,2121,26-926-9,21-1221-12,0.6910.691,80148014,76417641,NaN,NaN
1,22,Philadelphia 76ersPhiladelphia 76ers,6666,4444,2222,25-1025-10,19-1219-12,0.6670.667,75967596,73277327,NaN,NaN

In [121]:
df4[0].to_csv("Football_league.csv")

In [123]:
df4[2].to_excel('Football_league_table.xlsx')

In [124]:
data_tita=pd.read_csv('https://raw.githubusercontent.com/ashishpatel26/Titanic-Machine-Learning-from-Disaster/master/Submission_titanic.csv')

In [126]:
data_tita.head()

,Unnamed: 0,PassengerId,Sex,Age,Fare,Cabin,Embarked,Title,FamilySize,Survived
0,0,892,0,2,0,2.0,2,0,0.0,0
1,1,893,1,3,0,2.0,0,2,0.4,1
2,2,894,0,3,0,2.0,2,0,0.0,0
3,3,895,0,2,0,2.0,0,0,0.0,0
4,4,896,1,1,0,2.0,0,2,0.8,1

In [170]:
s = """{
"name":"naman",
"age":25,
"company":"Maruti"
}
"""

In [171]:
s

'{\n"name":"naman",\n"age":25,\n"company":"Maruti"\n}\n'

In [172]:
p=json.loads(s)

In [173]:
p

{'name': 'naman', 'age': 25, 'company': 'Maruti'}

In [177]:
import requests

In [179]:
rea=requests.get('https://api.github.com/repos/pandas-dev/pandas/issues')

In [199]:
p=rea.json()
p[0]['user']

{'login': 'rmhowe425',
 'id': 45905457,
 'node_id': 'MDQ6VXNlcjQ1OTA1NDU3',
 'avatar_url': 'https://avatars.githubusercontent.com/u/45905457?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/rmhowe425',
 'html_url': 'https://github.com/rmhowe425',
 'followers_url': 'https://api.github.com/users/rmhowe425/followers',
 'following_url': 'https://api.github.com/users/rmhowe425/following{/other_user}',
 'gists_url': 'https://api.github.com/users/rmhowe425/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/rmhowe425/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/rmhowe425/subscriptions',
 'organizations_url': 'https://api.github.com/users/rmhowe425/orgs',
 'repos_url': 'https://api.github.com/users/rmhowe425/repos',
 'events_url': 'https://api.github.com/users/rmhowe425/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/rmhowe425/received_events',
 'type': 'User',
 'site_admin': False}

In [198]:
pp=pd.DataFrame(p)

In [201]:
l=[]
for i in range(len(p)):
    l.append(p[i]['user'])
p_user=pd.DataFrame(l)

In [203]:
p_user.head()

,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,rmhowe425,45905457,MDQ6VXNlcjQ1OTA1NDU3,https://avatars.githubusercontent.com/u/459054...,,https://api.github.com/users/rmhowe425,https://github.com/rmhowe425,https://api.github.com/users/rmhowe425/followers,https://api.github.com/users/rmhowe425/followi...,https://api.github.com/users/rmhowe425/gists{/...,https://api.github.com/users/rmhowe425/starred...,https://api.github.com/users/rmhowe425/subscri...,https://api.github.com/users/rmhowe425/orgs,https://api.github.com/users/rmhowe425/repos,https://api.github.com/users/rmhowe425/events{...,https://api.github.com/users/rmhowe425/receive...,User,False
1,hugovk,1324225,MDQ6VXNlcjEzMjQyMjU=,https://avatars.githubusercontent.com/u/132422...,,https://api.github.com/users/hugovk,https://github.com/hugovk,https://api.github.com/users/hugovk/followers,https://api.github.com/users/hugovk/following{...,https://api.github.com/users/hugovk/gists{/gis...,https://api.github.com/users/hugovk/starred{/o...,https://api.github.com/users/hugovk/subscriptions,https://api.github.com/users/hugovk/orgs,https://api.github.com/users/hugovk/repos,https://api.github.com/users/hugovk/events{/pr...,https://api.github.com/users/hugovk/received_e...,User,False
2,dannyi96,15380498,MDQ6VXNlcjE1MzgwNDk4,https://avatars.githubusercontent.com/u/153804...,,https://api.github.com/users/dannyi96,https://github.com/dannyi96,https://api.github.com/users/dannyi96/followers,https://api.github.com/users/dannyi96/followin...,https://api.github.com/users/dannyi96/gists{/g...,https://api.github.com/users/dannyi96/starred{...,https://api.github.com/users/dannyi96/subscrip...,https://api.github.com/users/dannyi96/orgs,https://api.github.com/users/dannyi96/repos,https://api.github.com/users/dannyi96/events{/...,https://api.github.com/users/dannyi96/received...,User,False
3,DeaMariaLeon,11835246,MDQ6VXNlcjExODM1MjQ2,https://avatars.githubusercontent.com/u/118352...,,https://api.github.com/users/DeaMariaLeon,https://github.com/DeaMariaLeon,https://api.github.com/users/DeaMariaLeon/foll...,https://api.github.com/users/DeaMariaLeon/foll...,https://api.github.com/users/DeaMariaLeon/gist...,https://api.github.com/users/DeaMariaLeon/star...,https://api.github.com/users/DeaMariaLeon/subs...,https://api.github.com/users/DeaMariaLeon/orgs,https://api.github.com/users/DeaMariaLeon/repos,https://api.github.com/users/DeaMariaLeon/even...,https://api.github.com/users/DeaMariaLeon/rece...,User,False
4,uzzell,72205435,MDQ6VXNlcjcyMjA1NDM1,https://avatars.githubusercontent.com/u/722054...,,https://api.github.com/users/uzzell,https://github.com/uzzell,https://api.github.com/users/uzzell/followers,https://api.github.com/users/uzzell/following{...,https://api.github.com/users/uzzell/gists{/gis...,https://api.github.com/users/uzzell/starred{/o...,https://api.github.com/users/uzzell/subscriptions,https://api.github.com/users/uzzell/orgs,https://api.github.com/users/uzzell/repos,https://api.github.com/users/uzzell/events{/pr...,https://api.github.com/users/uzzell/received_e...,User,False

In [205]:
p_user.to_csv("Response.csv")

In [207]:
df=pd.read_csv('Response.csv')

In [208]:
df.head()

,Unnamed: 0,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,0,rmhowe425,45905457,MDQ6VXNlcjQ1OTA1NDU3,https://avatars.githubusercontent.com/u/459054...,NaN,https://api.github.com/users/rmhowe425,https://github.com/rmhowe425,https://api.github.com/users/rmhowe425/followers,https://api.github.com/users/rmhowe425/followi...,https://api.github.com/users/rmhowe425/gists{/...,https://api.github.com/users/rmhowe425/starred...,https://api.github.com/users/rmhowe425/subscri...,https://api.github.com/users/rmhowe425/orgs,https://api.github.com/users/rmhowe425/repos,https://api.github.com/users/rmhowe425/events{...,https://api.github.com/users/rmhowe425/receive...,User,False
1,1,hugovk,1324225,MDQ6VXNlcjEzMjQyMjU=,https://avatars.githubusercontent.com/u/132422...,NaN,https://api.github.com/users/hugovk,https://github.com/hugovk,https://api.github.com/users/hugovk/followers,https://api.github.com/users/hugovk/following{...,https://api.github.com/users/hugovk/gists{/gis...,https://api.github.com/users/hugovk/starred{/o...,https://api.github.com/users/hugovk/subscriptions,https://api.github.com/users/hugovk/orgs,https://api.github.com/users/hugovk/repos,https://api.github.com/users/hugovk/events{/pr...,https://api.github.com/users/hugovk/received_e...,User,False
2,2,dannyi96,15380498,MDQ6VXNlcjE1MzgwNDk4,https://avatars.githubusercontent.com/u/153804...,NaN,https://api.github.com/users/dannyi96,https://github.com/dannyi96,https://api.github.com/users/dannyi96/followers,https://api.github.com/users/dannyi96/followin...,https://api.github.com/users/dannyi96/gists{/g...,https://api.github.com/users/dannyi96/starred{...,https://api.github.com/users/dannyi96/subscrip...,https://api.github.com/users/dannyi96/orgs,https://api.github.com/users/dannyi96/repos,https://api.github.com/users/dannyi96/events{/...,https://api.github.com/users/dannyi96/received...,User,False
3,3,DeaMariaLeon,11835246,MDQ6VXNlcjExODM1MjQ2,https://avatars.githubusercontent.com/u/118352...,NaN,https://api.github.com/users/DeaMariaLeon,https://github.com/DeaMariaLeon,https://api.github.com/users/DeaMariaLeon/foll...,https://api.github.com/users/DeaMariaLeon/foll...,https://api.github.com/users/DeaMariaLeon/gist...,https://api.github.com/users/DeaMariaLeon/star...,https://api.github.com/users/DeaMariaLeon/subs...,https://api.github.com/users/DeaMariaLeon/orgs,https://api.github.com/users/DeaMariaLeon/repos,https://api.github.com/users/DeaMariaLeon/even...,https://api.github.com/users/DeaMariaLeon/rece...,User,False
4,4,uzzell,72205435,MDQ6VXNlcjcyMjA1NDM1,https://avatars.githubusercontent.com/u/722054...,NaN,https://api.github.com/users/uzzell,https://github.com/uzzell,https://api.github.com/users/uzzell/followers,https://api.github.com/users/uzzell/following{...,https://api.github.com/users/uzzell/gists{/gis...,https://api.github.com/users/uzzell/starred{/o...,https://api.github.com/users/uzzell/subscriptions,https://api.github.com/users/uzzell/orgs,https://api.github.com/users/uzzell/repos,https://api.github.com/users/uzzell/events{/pr...,https://api.github.com/users/uzzell/received_e...,User,False

In [209]:
df.to_pickle("my_pickle")

In [211]:
h5_data=pd.HDFStore('test.h5')

In [212]:
h5_data['col1']=df

In [214]:
h5_data['col1'].head()

,Unnamed: 0,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,0,rmhowe425,45905457,MDQ6VXNlcjQ1OTA1NDU3,https://avatars.githubusercontent.com/u/459054...,NaN,https://api.github.com/users/rmhowe425,https://github.com/rmhowe425,https://api.github.com/users/rmhowe425/followers,https://api.github.com/users/rmhowe425/followi...,https://api.github.com/users/rmhowe425/gists{/...,https://api.github.com/users/rmhowe425/starred...,https://api.github.com/users/rmhowe425/subscri...,https://api.github.com/users/rmhowe425/orgs,https://api.github.com/users/rmhowe425/repos,https://api.github.com/users/rmhowe425/events{...,https://api.github.com/users/rmhowe425/receive...,User,False
1,1,hugovk,1324225,MDQ6VXNlcjEzMjQyMjU=,https://avatars.githubusercontent.com/u/132422...,NaN,https://api.github.com/users/hugovk,https://github.com/hugovk,https://api.github.com/users/hugovk/followers,https://api.github.com/users/hugovk/following{...,https://api.github.com/users/hugovk/gists{/gis...,https://api.github.com/users/hugovk/starred{/o...,https://api.github.com/users/hugovk/subscriptions,https://api.github.com/users/hugovk/orgs,https://api.github.com/users/hugovk/repos,https://api.github.com/users/hugovk/events{/pr...,https://api.github.com/users/hugovk/received_e...,User,False
2,2,dannyi96,15380498,MDQ6VXNlcjE1MzgwNDk4,https://avatars.githubusercontent.com/u/153804...,NaN,https://api.github.com/users/dannyi96,https://github.com/dannyi96,https://api.github.com/users/dannyi96/followers,https://api.github.com/users/dannyi96/followin...,https://api.github.com/users/dannyi96/gists{/g...,https://api.github.com/users/dannyi96/starred{...,https://api.github.com/users/dannyi96/subscrip...,https://api.github.com/users/dannyi96/orgs,https://api.github.com/users/dannyi96/repos,https://api.github.com/users/dannyi96/events{/...,https://api.github.com/users/dannyi96/received...,User,False
3,3,DeaMariaLeon,11835246,MDQ6VXNlcjExODM1MjQ2,https://avatars.githubusercontent.com/u/118352...,NaN,https://api.github.com/users/DeaMariaLeon,https://github.com/DeaMariaLeon,https://api.github.com/users/DeaMariaLeon/foll...,https://api.github.com/users/DeaMariaLeon/foll...,https://api.github.com/users/DeaMariaLeon/gist...,https://api.github.com/users/DeaMariaLeon/star...,https://api.github.com/users/DeaMariaLeon/subs...,https://api.github.com/users/DeaMariaLeon/orgs,https://api.github.com/users/DeaMariaLeon/repos,https://api.github.com/users/DeaMariaLeon/even...,https://api.github.com/users/DeaMariaLeon/rece...,User,False
4,4,uzzell,72205435,MDQ6VXNlcjcyMjA1NDM1,https://avatars.githubusercontent.com/u/722054...,NaN,https://api.github.com/users/uzzell,https://github.com/uzzell,https://api.github.com/users/uzzell/followers,https://api.github.com/users/uzzell/following{...,https://api.github.com/users/uzzell/gists{/gis...,https://api.github.com/users/uzzell/starred{/o...,https://api.github.com/users/uzzell/subscriptions,https://api.github.com/users/uzzell/orgs,https://api.github.com/users/uzzell/repos,https://api.github.com/users/uzzell/events{/pr...,https://api.github.com/users/uzzell/received_e...,User,False

In [215]:
h5_data.put('obj2',df, format='table')

In [218]:
h5_data['obj2'].head()

,Unnamed: 0,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,0,rmhowe425,45905457,MDQ6VXNlcjQ1OTA1NDU3,https://avatars.githubusercontent.com/u/459054...,NaN,https://api.github.com/users/rmhowe425,https://github.com/rmhowe425,https://api.github.com/users/rmhowe425/followers,https://api.github.com/users/rmhowe425/followi...,https://api.github.com/users/rmhowe425/gists{/...,https://api.github.com/users/rmhowe425/starred...,https://api.github.com/users/rmhowe425/subscri...,https://api.github.com/users/rmhowe425/orgs,https://api.github.com/users/rmhowe425/repos,https://api.github.com/users/rmhowe425/events{...,https://api.github.com/users/rmhowe425/receive...,User,False
1,1,hugovk,1324225,MDQ6VXNlcjEzMjQyMjU=,https://avatars.githubusercontent.com/u/132422...,NaN,https://api.github.com/users/hugovk,https://github.com/hugovk,https://api.github.com/users/hugovk/followers,https://api.github.com/users/hugovk/following{...,https://api.github.com/users/hugovk/gists{/gis...,https://api.github.com/users/hugovk/starred{/o...,https://api.github.com/users/hugovk/subscriptions,https://api.github.com/users/hugovk/orgs,https://api.github.com/users/hugovk/repos,https://api.github.com/users/hugovk/events{/pr...,https://api.github.com/users/hugovk/received_e...,User,False
2,2,dannyi96,15380498,MDQ6VXNlcjE1MzgwNDk4,https://avatars.githubusercontent.com/u/153804...,NaN,https://api.github.com/users/dannyi96,https://github.com/dannyi96,https://api.github.com/users/dannyi96/followers,https://api.github.com/users/dannyi96/followin...,https://api.github.com/users/dannyi96/gists{/g...,https://api.github.com/users/dannyi96/starred{...,https://api.github.com/users/dannyi96/subscrip...,https://api.github.com/users/dannyi96/orgs,https://api.github.com/users/dannyi96/repos,https://api.github.com/users/dannyi96/events{/...,https://api.github.com/users/dannyi96/received...,User,False
3,3,DeaMariaLeon,11835246,MDQ6VXNlcjExODM1MjQ2,https://avatars.githubusercontent.com/u/118352...,NaN,https://api.github.com/users/DeaMariaLeon,https://github.com/DeaMariaLeon,https://api.github.com/users/DeaMariaLeon/foll...,https://api.github.com/users/DeaMariaLeon/foll...,https://api.github.com/users/DeaMariaLeon/gist...,https://api.github.com/users/DeaMariaLeon/star...,https://api.github.com/users/DeaMariaLeon/subs...,https://api.github.com/users/DeaMariaLeon/orgs,https://api.github.com/users/DeaMariaLeon/repos,https://api.github.com/users/DeaMariaLeon/even...,https://api.github.com/users/DeaMariaLeon/rece...,User,False
4,4,uzzell,72205435,MDQ6VXNlcjcyMjA1NDM1,https://avatars.githubusercontent.com/u/722054...,NaN,https://api.github.com/users/uzzell,https://github.com/uzzell,https://api.github.com/users/uzzell/followers,https://api.github.com/users/uzzell/following{...,https://api.github.com/users/uzzell/gists{/gis...,https://api.github.com/users/uzzell/starred{/o...,https://api.github.com/users/uzzell/subscriptions,https://api.github.com/users/uzzell/orgs,https://api.github.com/users/uzzell/repos,https://api.github.com/users/uzzell/events{/pr...,https://api.github.com/users/uzzell/received_e...,User,False

In [219]:
h5_data.select('obj2', where=['index >=10 and index <= 15'])

,Unnamed: 0,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
10,10,natmokval,91160475,MDQ6VXNlcjkxMTYwNDc1,https://avatars.githubusercontent.com/u/911604...,NaN,https://api.github.com/users/natmokval,https://github.com/natmokval,https://api.github.com/users/natmokval/followers,https://api.github.com/users/natmokval/followi...,https://api.github.com/users/natmokval/gists{/...,https://api.github.com/users/natmokval/starred...,https://api.github.com/users/natmokval/subscri...,https://api.github.com/users/natmokval/orgs,https://api.github.com/users/natmokval/repos,https://api.github.com/users/natmokval/events{...,https://api.github.com/users/natmokval/receive...,User,False
11,11,dannyi96,15380498,MDQ6VXNlcjE1MzgwNDk4,https://avatars.githubusercontent.com/u/153804...,NaN,https://api.github.com/users/dannyi96,https://github.com/dannyi96,https://api.github.com/users/dannyi96/followers,https://api.github.com/users/dannyi96/followin...,https://api.github.com/users/dannyi96/gists{/g...,https://api.github.com/users/dannyi96/starred{...,https://api.github.com/users/dannyi96/subscrip...,https://api.github.com/users/dannyi96/orgs,https://api.github.com/users/dannyi96/repos,https://api.github.com/users/dannyi96/events{/...,https://api.github.com/users/dannyi96/received...,User,False
12,12,jameslamb,7608904,MDQ6VXNlcjc2MDg5MDQ=,https://avatars.githubusercontent.com/u/760890...,NaN,https://api.github.com/users/jameslamb,https://github.com/jameslamb,https://api.github.com/users/jameslamb/followers,https://api.github.com/users/jameslamb/followi...,https://api.github.com/users/jameslamb/gists{/...,https://api.github.com/users/jameslamb/starred...,https://api.github.com/users/jameslamb/subscri...,https://api.github.com/users/jameslamb/orgs,https://api.github.com/users/jameslamb/repos,https://api.github.com/users/jameslamb/events{...,https://api.github.com/users/jameslamb/receive...,User,False
13,13,jayendra-patil33,43951088,MDQ6VXNlcjQzOTUxMDg4,https://avatars.githubusercontent.com/u/439510...,NaN,https://api.github.com/users/jayendra-patil33,https://github.com/jayendra-patil33,https://api.github.com/users/jayendra-patil33/...,https://api.github.com/users/jayendra-patil33/...,https://api.github.com/users/jayendra-patil33/...,https://api.github.com/users/jayendra-patil33/...,https://api.github.com/users/jayendra-patil33/...,https://api.github.com/users/jayendra-patil33/...,https://api.github.com/users/jayendra-patil33/...,https://api.github.com/users/jayendra-patil33/...,https://api.github.com/users/jayendra-patil33/...,User,False
14,14,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,NaN,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False
15,15,jbrockmendel,8078968,MDQ6VXNlcjgwNzg5Njg=,https://avatars.githubusercontent.com/u/807896...,NaN,https://api.github.com/users/jbrockmendel,https://github.com/jbrockmendel,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/foll...,https://api.github.com/users/jbrockmendel/gist...,https://api.github.com/users/jbrockmendel/star...,https://api.github.com/users/jbrockmendel/subs...,https://api.github.com/users/jbrockmendel/orgs,https://api.github.com/users/jbrockmendel/repos,https://api.github.com/users/jbrockmendel/even...,https://api.github.com/users/jbrockmendel/rece...,User,False

In [220]:
df.head()

,Unnamed: 0,login,id,node_id,avatar_url,gravatar_id,url,html_url,followers_url,following_url,gists_url,starred_url,subscriptions_url,organizations_url,repos_url,events_url,received_events_url,type,site_admin
0,0,rmhowe425,45905457,MDQ6VXNlcjQ1OTA1NDU3,https://avatars.githubusercontent.com/u/459054...,NaN,https://api.github.com/users/rmhowe425,https://github.com/rmhowe425,https://api.github.com/users/rmhowe425/followers,https://api.github.com/users/rmhowe425/followi...,https://api.github.com/users/rmhowe425/gists{/...,https://api.github.com/users/rmhowe425/starred...,https://api.github.com/users/rmhowe425/subscri...,https://api.github.com/users/rmhowe425/orgs,https://api.github.com/users/rmhowe425/repos,https://api.github.com/users/rmhowe425/events{...,https://api.github.com/users/rmhowe425/receive...,User,False
1,1,hugovk,1324225,MDQ6VXNlcjEzMjQyMjU=,https://avatars.githubusercontent.com/u/132422...,NaN,https://api.github.com/users/hugovk,https://github.com/hugovk,https://api.github.com/users/hugovk/followers,https://api.github.com/users/hugovk/following{...,https://api.github.com/users/hugovk/gists{/gis...,https://api.github.com/users/hugovk/starred{/o...,https://api.github.com/users/hugovk/subscriptions,https://api.github.com/users/hugovk/orgs,https://api.github.com/users/hugovk/repos,https://api.github.com/users/hugovk/events{/pr...,https://api.github.com/users/hugovk/received_e...,User,False
2,2,dannyi96,15380498,MDQ6VXNlcjE1MzgwNDk4,https://avatars.githubusercontent.com/u/153804...,NaN,https://api.github.com/users/dannyi96,https://github.com/dannyi96,https://api.github.com/users/dannyi96/followers,https://api.github.com/users/dannyi96/followin...,https://api.github.com/users/dannyi96/gists{/g...,https://api.github.com/users/dannyi96/starred{...,https://api.github.com/users/dannyi96/subscrip...,https://api.github.com/users/dannyi96/orgs,https://api.github.com/users/dannyi96/repos,https://api.github.com/users/dannyi96/events{/...,https://api.github.com/users/dannyi96/received...,User,False
3,3,DeaMariaLeon,11835246,MDQ6VXNlcjExODM1MjQ2,https://avatars.githubusercontent.com/u/118352...,NaN,https://api.github.com/users/DeaMariaLeon,https://github.com/DeaMariaLeon,https://api.github.com/users/DeaMariaLeon/foll...,https://api.github.com/users/DeaMariaLeon/foll...,https://api.github.com/users/DeaMariaLeon/gist...,https://api.github.com/users/DeaMariaLeon/star...,https://api.github.com/users/DeaMariaLeon/subs...,https://api.github.com/users/DeaMariaLeon/orgs,https://api.github.com/users/DeaMariaLeon/repos,https://api.github.com/users/DeaMariaLeon/even...,https://api.github.com/users/DeaMariaLeon/rece...,User,False
4,4,uzzell,72205435,MDQ6VXNlcjcyMjA1NDM1,https://avatars.githubusercontent.com/u/722054...,NaN,https://api.github.com/users/uzzell,https://github.com/uzzell,https://api.github.com/users/uzzell/followers,https://api.github.com/users/uzzell/following{...,https://api.github.com/users/uzzell/gists{/gis...,https://api.github.com/users/uzzell/starred{/o...,https://api.github.com/users/uzzell/subscriptions,https://api.github.com/users/uzzell/orgs,https://api.github.com/users/uzzell/repos,https://api.github.com/users/uzzell/events{/pr...,https://api.github.com/users/uzzell/received_e...,User,False

In [222]:
df['Sex']

KeyError: 'Sex'